body {
	background: #c0c0c0 -webkit-gradient(linear, left top, left bottom, from(#fff), to(#c0c0c0)) no-repeat;
	padding-left: 10px;
	padding-right: 10px;
	height: 1000px;
}

h1 {
	font-family: "Helvetica Neue";
	font-weight: 300;
}

